/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    font-family: "Noto Sans TC", sans-serif;
	line-height:1.5;
	letter-spacing: 0.05em;
}
a {
	text-decoration: none;
}
.header{
	max-width:1296px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	padding: 24px 0px;
}
.header-lift{
	width: 28%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 500;
}
.header-lift li a{
	color: #212529;
}
.person i{
	color:black;
	font-size: 24px;
}
.banner {
  background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-week1/hero.png?raw=true);
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-weight: 700;
  line-height: 1.2;
  padding: 151px ;
  text-align: center;
  margin-bottom: 24px;
  
}
.main-text h1{
	font-size: 40px;
}
.main-text p{
	font-size: 28px;
}
.declaration{
	background-color: #F5FEE7;
	text-align: center;
	max-width: 856px;
	margin: 0 auto;
	padding: 48px 0px;
	margin-top: 64px;
}
.declaration h2{
	font-size: 20px;
	font-weight: 700;
	color: #57A203;
	margin-bottom: 16px;
}
.declaration p{
	padding-bottom: 4px;
	font-weight: 400;
}
.hero{
	max-width: 1076px;
	margin: 0 auto;
}
.hero img{
	display: block;
	width: 100%;
	margin-top: 64px;
}
.wrap{
	max-width:856px;
	margin: 0 auto;
}
.brand{
	padding-bottom: 16px;
	border-bottom:  1px solid  #DEE2E6;
}
.title{
	font-size: 24px;
	line-height: 1.2;
	font-weight: 700;
	margin: 24px 0px;
	padding-top: 48px;
}
.brand h3{
	font-size: 20px;
	line-height: 1.2;
	font-weight: 700;
	margin: 24px 0px;
	color: #57A203;
}
.brand p{
	margin-bottom: 16px;
}

.history{
	padding-bottom: 48px;
	border-bottom: 1px solid #DEE2E6;
	
}
.history li{
	margin-top: 8px;
	color: #212529;
	list-style-type: disc;
	list-style-position: inside;
	text-indent: 8px;
}
.line{
	padding-left: 12px;
	margin-left: 12px;
	border-left: 3px solid #DEE2E6;
}
.brandConcept{

	padding-bottom: 48px;
	border-bottom: 1px solid #DEE2E6;
}
.story{
	padding-bottom: 48px;
	border-bottom: 1px solid #DEE2E6;
}
.story li{
	margin-top: 8px;
}
.story a{
	color: #57A203;
}
.story svg{
	padding-right: 8px;
}
.story a span{
	border-bottom:1px solid #57A203;
	padding-bottom:3px ;
}
.story a:hover{
	color: #212529;
}

.brandConcept li{
	margin-top: 8px;
	color: #212529;
	padding-left: 12px;
	border-left: 3px solid #DEE2E6;
}
.footer ul{
	display: flex;
	background: #E8FEC5;
	justify-content: center;
	align-items: center;
	padding: 24px 0px;
	margin: 48px 0px;
}
.footer .text{
	font-size: 24px;
	font-weight: 700;
	color: #212529;
	margin-right: 16px;
	line-height: 1.2;
}
.footer a{
	background-color: #212529;
	color: white;
	padding: 12px 24px;
	border-radius: 5px;
	font-weight: 500;
}
.end{
	max-width: 1296px ;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	padding-bottom: 24px;
	border-bottom: 1px solid #DEE2E6;
}
.end-list{
	display: flex;
}
.end-list a{
	color:#212529 ;
	font-weight: 500;
}
.end-list-lift{
	margin-right: 40px;
}
.last{
	text-align: center;
	font-size: 14px;
	color: #6C757D;
	padding-top: 24px;
	padding-bottom: 48px;
	
}
@media (max-width: 756px) {
	.b-0-12{
		padding: 0px  12px;
	}
	.header{
		padding: 24px 12px;
	}
	.hide{
		display: none;
	}
	.declaration{
		text-align: left;
		padding: 48px 16px;
	}
	.end{
		flex-direction: column;
	}
	.end img{
		margin-bottom: 24px;
	}
	.end-list{
		flex-direction: column;
		padding-left: 12px;
	}
	.end-list li{
		margin-bottom: 24px;
	}
}